$fontFam_uqReg: UniqloProRegular,
'Uniqlo Pro Regular',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

$fontFam_uqBold: UniqloProBold,
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

$fontFam_hel: 'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

$randomNumber: random(300) - 150+px;


@import 'breakpoints';

:root {
    --random-top: 0px;
}

// FULL WIDTH SPECIFICITY
// 
.pt_primary #main .primary-content {

    * {
        box-sizing: border-box;
    }

    img {
        display: block;
        max-width: none;
        max-height: none;
    }

    .inspiration {
        width: 500px;
        margin: 0 auto 50px;
    }

    .paraSlivers {
        position: relative;
        width: 500px;
        margin: 0 auto 50px;
        overflow: hidden;
        background: #dd9e3f;

        &.tenSlivers {
            .sliver {
                width: 10%;
            }
        }

        &.twoRowsTenColumns {
            .sliver {
                top: var(--random-top);
                width: 10%;
                height: 50%;
            }
        }

        img {
            display: block;
            width: 500px;
        }

        .fixedImg {
            visibility: hidden;
        }

        .sliver {
            position: absolute;
            top: var(--random-top);
            width: 20%;
            height: 100%;

            img {
                width: 100%;
            }



            // ————————————————————————————————————o FIVE COLUMNS -->
            // FIVE COLUMNS -->

            &.sliver01 {
                left: 0;
            }

            &.sliver02 {
                left: 20%;
            }

            &.sliver03 {
                left: 40%;
            }

            &.sliver04 {
                left: 60%;
            }

            &.sliver05 {
                left: 80%;
            }



            // ————————————————————————————————————o TEN COLUMNS -->
            // TEN COLUMNS -->

            &.sliver010 {
                left: 0%;
            }

            &.sliver020 {
                left: 10%;
            }

            &.sliver030 {
                left: 20%;
            }

            &.sliver040 {
                left: 30%;
            }

            &.sliver050 {
                left: 40%;
            }

            &.sliver060 {
                left: 50%;
            }

            &.sliver070 {
                left: 60%;
            }

            &.sliver080 {
                left: 70%;
            }

            &.sliver090 {
                left: 80%;
            }

            &.sliver0100 {
                left: 90%;
            }



            // ————————————————————————————————————o TWO ROWS + TEN COLUMNS -->
            // TWO ROWS + TEN COLUMNS -->

            &.sliver010 {
                left: 0%;
            }

            &.sliver020 {
                left: 10%;
            }

            &.sliver030 {
                left: 20%;
            }

            &.sliver040 {
                left: 30%;
            }

            &.sliver050 {
                left: 40%;
            }

            &.sliver060 {
                left: 50%;
            }

            &.sliver070 {
                left: 60%;
            }

            &.sliver080 {
                left: 70%;
            }

            &.sliver090 {
                left: 80%;
            }

            &.sliver0100 {
                left: 90%;
            }
        }
    }

    .circlie {
        background: #f81acc;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}